@page "/demo"

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo - Dynamic App Builder</title>
    <link href="./css/demo.css" rel="stylesheet" />
</head>

<body>

    <div class="container">
        <h1>Welcome to the Demo of the Dynamic App Builder!</h1>
        <h2>See how easy it is to create your own dynamic applications in just a few clicks!</h2>

        <div class="video-container">
            <iframe src="https://drive.google.com/file/d/1vLCbiMqViDECM0ekA_JBfTLZIURwpSp8/preview"
                    title="Dynamic App Builder Demo"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
            </iframe>
        </div>



    </div>

    <div class="footer"> 
        <p>&copy; 2025 Dynamic App Builder</p> 
         <p><a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a></p> 
     </div>

</body>
</html>
